repos:
  - repo: https://github.com/qoomon/git-conventional-commits
    rev: v2.6.5
    hooks:
      - id: conventional-commits
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.0.0" # Use the sha or tag you want to point at
    hooks:
      - id: prettier
        stages: [commit]
        additional_dependencies:
          - prettier-plugin-tailwindcss
        args:
          [
            "--trailing-comma",
            "es5",
            "--tab-width",
            "2",
            "--print-width",
            "120",
            "--no-semi",
            "--write",
            "./**/*.{ts,tsx,js,css}",
          ]
